@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

h6 {
  @apply text-lg;
}

p {
  @apply text-base;
}

label {
  font-size: 1rem;
}

.loader-primary span {
  @apply bg-darkHighlight !important;
}

.loader-error span {
  @apply bg-error !important;
}

.btn-primary {
  @apply bg-primary text-secondary rounded-sm text-lg uppercase py-2 px-4 border border-primary;
}
.btn-secondary {
  @apply bg-lightHighlight text-primary rounded-sm text-lg uppercase py-2 px-4 border border-primary;
}
.btn-darkHighlight {
  @apply bg-darkHighlight text-primary font-semibold rounded-sm text-lg uppercase py-2 px-4 border border-primary;
}

.basic-input::placeholder {
  color: black;
  opacity: 0.3;
}

.basic-input {
  background: transparent;
  border-bottom: 1px solid;
}

.basic-input:focus {
  /* border: none; */
  outline: none;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-md;
}
