@tailwind base;
@tailwind components;
@tailwind utilities;

label {
  font-size: 1rem;
}

.basic-input::placeholder {
  color: black;
  opacity: 0.3;
}

.basic-input {
  background: transparent;
  padding: 5px;
  border-bottom: 1px solid;
}

.basic-input:focus {
  /* border: none; */
  outline: none;
}
